.cadastros,
.form-cad-new-exam {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.form {
    width: 32em;
    padding: 2em;
    background: var(--fundoBranco);
    margin: 10% auto;
    border-radius: 10px;
    box-shadow: var(--shadowCards);
}

.form form {
    background-color: #f5f5f5;
}

.form .title {
    text-align: center;
    margin-bottom: 1.5em;
}

form .continer-input-box {
    width: 85%;
    margin: auto;
}

form .continer-input-box .input-box {
    padding: 0.5em 0em;
    width: 100%;
}

form .continer-input-box .input-box input {
    padding: 0.5em 0em 0.5em 5%;
    width: 95%;
    height: 2em;
    margin: 0.57em 0;
    border: none;
    color: var(--textos);
    box-shadow: var(--shadowTitle);
    border-radius: 5px;
    font-size: var(--fontSizeText);
}

form .continer-input-box .input-box input:focus {
    outline: none;
}

form .continer-input-box .input-box label {
    color: var(--textos);
    font-weight: 700;
    letter-spacing: 0.8px;
}

.form form .continer-input-box .crm {
    display: flex;
    flex-flow: nowrap row;
    align-content: center;
    align-items: flex-end;
    justify-content: center;
}

.form form .input-box-sel {
    margin: 1em 0em 1em 1em;
    width: 80%;
    min-width: 10ch;
    max-width: 20ch;
    border: none;
    border-radius: 5px;
    padding: 0.8em 0.5em;
    font-size: 1em;
    cursor: pointer;
    line-height: 1.5;
    box-shadow: var(--shadowTitle);
    background-color: white;
    color: #000000;
}

.form form .continer-input-box select {
    border: none;
    padding: 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    background-color: transparent;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    color: #000000;
}

.form form .continer-input-box select option {
    background-color: var(--fundoLabelForm);
}



.form form .continer-input-box .select-data {
    display: flex;
    flex-flow: nowrap row;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.form form .continer-input-box .select-data input[type='date']{
    padding-right: 7.5%;
    width: 87.5%;
}

.form-cad-new-exam .form form .select-data .input-box-sel {
    margin: 0.6em 0;
}

.form form .input-box-sel::after {
    content: "";
    width: 0.8em;
    height: 0.5em;
    background-color: var(--fundoLabelForm);
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}
