.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: var(--titulosEFundoBtn);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

@media(max-width:1000px) {

    div.menu-main {
        display: grid;
        position: fixed;
        width: auto;
        height: 100%;
        left: -100%;
        top: 0;
        padding: 2em;
        align-items: center;
        justify-content: center;
        grid-template-columns: 1fr;
        justify-items: stretch;
        background-color: var(--btnSingIn);
        z-index: 99;
        text-align: center;
        transition: all 0.4s ease-in-out;
        overflow: auto;
    }

    div.menu-main ul {
        display: block;
        background-color: var(--btnSingIn);

    }

    .nav-menu button.btnLogin {
        border: 3px solid var(--titulosEFundoBtn) !important;
        background-color: transparent;
        color: white !important;
    }
    
    .nav-menu button.btnLogin:hover {
        background-color: var(--titulosEFundoBtn) !important;
    }

    nav {
        position: absolute;
        right: 2vh;
        top: 2vh;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        flex-flow: wrap row;
    }

    .menuHamburger {
        display: inline-flex;
        align-items: center;
        z-index: 1;
    }

    .menuHamburger h2 {
        margin-right: 20px;
    }

    .hamburger {
        display: inline-block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }



    .nav-menu button {
        margin: 5px 10px;
    }


    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-menu .inactive {
        filter: opacity(0.3);
    }

    .nav-menu::-webkit-scrollbar {
        width: 1px;
    }

}