.join-us {
    background-color: #f5f5f5;
}

.join-us div:first-child {
    padding-top: 2em;
    margin: auto;
    text-align: center;
    line-height: 3vh;
}

.join-us img {
    width: clamp( 30%, 50%, 70% );
}

.join-us p {
    text-align: center;
    margin: 1em;
}

