.section-one {
    background-color: var(--fundoBranco);
    padding: 8% 10%;
}

.section-one .main-top {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    flex-flow: row wrap;
}

.section-one .main-top div:first-child img {
    width: clamp(15em, 30em, 35em);
}

.section-one .main-top div:nth-child(2) {
    max-width: 50%;
    padding-bottom: 2em;
    text-align: left;
    font-size: 1.5em;
}



@media(max-width:400px) {
    .section-one .main-top div:first-child img {
        max-width: 15em;
    }

    .section-one .main-top div:nth-child(2) {
        max-width: 100%;
    }
}