@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,500;1,300;1,400&display=swap');

.main-login, .main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 2em;
    width: 60%;
    margin: 10% auto;
}

.form-login {
    width: clamp(35%, 100%, 20em);
    padding: 2em;
}

.form-login h1 {
    text-align: center;

}

.img-login img {
    width: clamp(15em, 100%, 30em);
}

.textfield {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 0.65em 0;
}

.login .btnLogin {
    width: 80%;
    text-transform: uppercase;
    font-weight: 800;
    background-color: var(--btnLogin);
    transition: all .3s ease-in-out;
}

.login .btnLogin:hover {
    background-color: #117c7c;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
    transition: all .3s ease-in-out;
}

.login-links {
    text-align: center;
    line-height: 2em;
    font-weight: 700;
}

.login-links a {
    text-decoration: none;
    color: var(--azulClaro);
}


@media (max-width: 1550px) {
    .main-login,
    .main {

        width: auto;

    }
}