:root {
    --textos: #505A5B;
    --titulos: #00535B;
    /* --titulosEFundoBtn */
    --btnLogin: #4A9B9B;
    /* --btnSingIn: */
    --vermelho: #FE6767;
    --azulClaro: #41C7B7;

    --fundoBranco: #F5F5F5;
    --fundoAzul: #58C2C2;
    --fundoLabelForm: #EFEFEF;

    --vidroGradient: linear-gradient(242.06deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.65) 46.75%, rgba(255, 255, 255, 0) 98.63%);
    --vidroBorder: 0.5px solid #FFFFFF;
    --vidroShadow: drop-shadow(0px 4px 30px rgba(0, 0, 0, 0.25));

    --shadowCards: 0px 10px 30px rgba(0, 0, 0, 0.2);
    --shadowTitle: 0px 2px 2px rgba(0, 0, 0, 0.25);

    --fontSizeText: clamp(0.5em, 1em, 1.125em);
    --fontSizeTitle: clamp(1.2em, 1.7em, 2em);

    --paddingBtn: 0.65em 2.5em;
}

* {
    margin: 0;
    font-family: 'Open Sans';
}

body::-webkit-scrollbar,
select::-webkit-scrollbar {
    width: 0.2em;
}

body::-webkit-scrollbar-track,
select::-webkit-scrollbar-track {
    background: #f5f5f5;
}

body::-webkit-scrollbar-thumb,
select::-webkit-scrollbar-thumb {
    background-color: #7c7b7b62;
    border-radius: 10px;
}

body.session-allow {
    background-image: url(/img/bgPadrao.png);
    background-size: 100%;
}

body.session-cads {
    background-image: url(/img/bgLogin.png);
    background-size: 100%;
}

footer {
    background-color: var(--titulos);
    display: flex;
    padding: 10em 0 1.2em 0;
    margin-top: -9em;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
    flex-flow: wrap row;
}

footer ul {
    list-style: none;
    color: #f5f5f5;
    line-height: 2em;
}

:where(.main-top, div.shape-divider, .join-us) img {
    filter: drop-shadow(0px 2px 4px rgb(0, 0, 0, 0.15));
}

:where(.card div, .join-us) p {
    color: var(--textos);
}